Tests:
 pkg-somerville-meta,
 pkg-stella-meta,
 pkg-sutton-meta
Depends: @, ubuntu-dev-tools, git-buildpackage

Tests:
 bug-bind,
 get-private-ppa,
 lp-api,
 lp-bug,
 pkg-list,
 review-merge-proposal,
 run-autopkgtest,
 setup-apt-dir
Depends: @

Tests:
 bootstrap-meta,
 mir-bug,
 oem-meta-packages
Restrictions: skippable
Depends: @, openssh-client

Tests:
 git-url-insteadof-setting,
 lp-dl-attm,
 recovery-from-iso.sh
Depends: @, openssh-client
Restrictions: allow-stderr
