Source: oem-scripts
Section: admin
Priority: extra
Build-Depends: debhelper (>= 6),
 python,
 python-support (>= 0.6.4),
 python-distutils-extra (>= 2.10)
Standards-Version: 3.9.5
Maintainer: Commercial Engineering <commercial-engineering@canonical.com>
Vcs-Browser: https://code.launchpad.net/~oem-solutions-engineers/oem-dev-tools/oem-scripts
Vcs-Bzr: lp:~oem-solutions-engineers/oem-dev-tools/oem-scripts
XS-Python-Version: current

Package: oem-scripts
Architecture: all
Depends: ${misc:Depends},
 python (<< 3.0), python (>= 2.6),
 python-distutils-extra,
 python-mechanize,
 zsync-curl,
 diffutils,
 dkms,
 devscripts,
 ubuntu-dev-tools,
 debhelper,
 dh-modaliases
Recommends: qemu-user-static
Description: Short OEM related scripts
 Short OEM related scripts can go here. 
 Also there is a meta package oem-dev-tools that installs all scripts
