Source: oem-scripts
Section: admin
Priority: optional
XS-Testsuite: autopkgtest
Build-Depends:
 debhelper (>=11),
 dh-python,
 pep8,
 python3-all,
 python3-setuptools
Standards-Version: 4.5.0
Maintainer: Commercial Engineering <commercial-engineering@canonical.com>
Vcs-Browser: https://code.launchpad.net/~oem-solutions-engineers/oem-dev-tools/+git/oem-scripts
Vcs-Git: https://git.launchpad.net/~oem-solutions-engineers/oem-dev-tools/+git/oem-scripts

Package: oem-scripts
Architecture: all
Depends: ${misc:Depends},
 ${python3:Depends},
 python3-distro-info,
 python3-distutils-extra,
 python3-mechanize,
 zsync-curl,
 diffutils,
 dkms,
 devscripts,
 ubuntu-dev-tools,
 debhelper,
 dh-modaliases
Recommends: qemu-user-static
Description: Short OEM related scripts
 Short OEM related scripts can go here. 
 Also there is a meta package oem-dev-tools that installs all scripts
